.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.child-div {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 1rem;
}

.child-strong {
  display: flex;
  width: 100%;
  min-width: 60px;
}

.chart-scroll {
  max-width: 80%;
  min-width: 80%;
  max-height: 500px;
  margin: auto;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
